/.gitignore
/.flake8
/.isort.cfg
/.pre-commit-config.yaml
/.index.html
/.gtFine
/.warm.py
/.cam_inference_config.txt
/.cam_inference.sh
/.cam_inference.txt
/.cam_train.sh
/.cam_train.txt 
/.convert_to_col.py
/.cookies.txt
/.gtFine_trainvaltest.zip
/.ham1000.zip
/.shuffle_data.py
/.warm.py
/.visualize_prediction.py
/.wget-log
gtFine/
jobs/
kits23/
predictions/
scripts/
vscode/
__pycache__
blocks.py
dataloader.py
main.py
metrics.py
networks.py
train_model.py
utils.py